/*  Following codes are by defaults */
/* 
@media screen and (max:2000px) {

    .container {
        padding-left: 48% !important;
        padding-right: 48% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}
 */




.footer {

    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #32383e;
    color: #a1aab4;
    text-align: center;
}

nav {
    border-bottom: 20px solid white;
    /* box-shadow: 0px 0px 100px 0px rgb(245, 242, 242); */
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);

}

div.slidder {
    background-color: #efefefb0 !important;
    padding: 35px;
}

.testCodes {
    padding: 25px;
    border-radius: 20px;
    background-color: #32383e;
    border-radius: 10px;
    display: flex;

}


.customcol {
    text-align: center;
    border-radius: 20px;
    padding: 64px;
    margin: 5px;
}

div.testCodes p.codes,
code {
    color: white !important;
}

.white {
    color: white;
}

.yellow {
    color: #cc6600;
}

.red {
    color: red;
}

.green {
    color: green;
}

.content>h1 {
    color: #4d4d4d;
    margin: 16px auto;
    font-size: 52px;
    font-weight: bold;


}


.content>p {
    display: block;
    margin: auto;
    font-size: .90rem;
}

.content button {
    font-size: 16px;
}

button {
    display: block;
    margin-top: 37px;
    width: 140px;
    height: 42px;
    background: #32383e;
    transition: 0.5s;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #444c55;
    color: #fff;
}

.card {
    background-color: rgb(255, 255, 255);
    border-color: #272b3f;
    border: #444c55 solid 1px;

}

.h2 {
    /* margin-top: 10px; */
    color: #4d4d4d;
    font-size: 35px;
    font-family: auto;
}

.p {
    margin-top: 10px;
    /* font-size: 16px; */
    color: #272b3f;
    font-family: auto;
    text-align: left;
    margin-left: 3%;
}

.install {
    padding-top: 48px;
    border-top: 1px solid #ccc;
}

.install h1 {
    font-size: 24px;
    margin-bottom: 12px;
    text-align: center;
    color: #4d4d4d;
    font-size: 300%;
    font-family: auto;

}

.h6,
h6 {
    font-size: .8rem;
}

.end-item {
    display: flex;
    align-items: end;
    align-self: flex-end;
    text-align: center;
    margin: 2px;
}

.col-sm-5 {
    margin-left: 60%;
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 10px;
}

.customcol_hide {
    padding: 30px;
    border-radius: 10px;

}

.description {
    display: flex;

    margin: 10px;
}

.text-center {
    text-align: center;
    font-size: 300%;
    font-family: auto;
    color: #32383e;
    font-weight: bold;
}

.btn-outline-success {
    color: white;
    border-color: white;
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: white;
}

.content {
    border-radius: 10px;
    padding: 25px;
    border-radius: 20px;
}

.card-body {
    border: #444c55 solid 1px;
    border-top-color: rgb(68, 76, 85);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(68, 76, 85);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(68, 76, 85);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(68, 76, 85);
    border-left-style: solid;
    border-left-width: 1px;
    text-align: center;

}

@media only screen and (width: 1240px) {
    .navbar-nav.navbar-center {
        flex-direction: column;

    }
}